#wageForm {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  label[for="length"] {
    margin-top: 15px;
    display: block;
    font-weight: bold;
  }
  
  #results {
    font-weight: bold;
  }
  