.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: lightgray;
  }
.grid-column_sec1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 20px;
    background-color: lightgray;
  }
.grid-item img {
    max-width: 100%;
  }
.grid-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .grid-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    background-color: lightgray;
  }
  

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

  .program img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
  }
  
#who-we-are h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
#who-we-are p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  max-width: 150px;
}
.cta-button:hover {
  background-color: #0056b3;
} 

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  background-color: lightgray;
}
.gallery img{
  width: 95%;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
}

.image:before {
  content: "";
  display: block;
  padding-bottom: 100%; /* Maintain 1:1 aspect ratio */
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.video-container iframe {
  width: 80%; /* Adjust the width as needed */
  height: 80%; /* Adjust the height as needed */
  max-width: 100%;
  max-height: 100%;
}
